SUPABASE_URL=https://crzzrfexcwobbnvrbdlo.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNyenpyZmV4Y3dvYmJudnJiZGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjYyMTAsImV4cCI6MjA5NTU0MjIxMH0.jiYmZCWGnERxnaBk3SAqbam61Z_N9cbBX8GvdOzBQZI
OPENAI_API_KEY=AIzaSyB-rjUkQnlVGedb9-SHORz0s8RsXk4yfFM
PORT=5000